<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>

	<definition name="stafflayout" template="/WEB-INF/views/staff/tiles/layout.jsp">
		<put-attribute name="sidebar" value="/WEB-INF/views/staff/include/sidebar.jsp"/>
		<put-attribute name="topbar" value="/WEB-INF/views/staff/include/topbar.jsp"/>
		<put-attribute name="footer" value="/WEB-INF/views/staff/include/footer.jsp"/>
	</definition>
	
	<definition name="staff/*" extends="stafflayout">
		<put-attribute name="container" value="/WEB-INF/views/staff/{1}.jsp"/>
	</definition>
	
	<definition name="staff/*/*" extends="stafflayout">
		<put-attribute name="container" value="/WEB-INF/views/staff/{1}/{2}.jsp"/>
	</definition>
	
	<definition name="default/staff/*" template="/WEB-INF/views/staff/tiles/default.jsp">
		<put-attribute name="container" value="/WEB-INF/views/staff/{1}.jsp"/>
	</definition>
	
</tiles-definitions>