<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reception">

<!-- 로그인 -->
<select id="staff_login" resultType="Reception.vo.StaffVO">
select s.*, d.department_name
from staff s inner join department d
on s.department_id = d.department_id 
where s.staff_id = #{id} and pw =#{pw}	
</select>

<select id="get_staff_list" resultType="Reception.vo.StaffVO">
	select d.department_name, s.* from staff s, department d where s.department_id = d.department_id order by s.staff_id 
</select>
<!--환자리스트 -->
<select id='get_patient_list' resultType="Reception.vo.PatientVO">
  		select * from patient order by patient_id
</select>
<!-- 환자정보 -->

<select id="get_patient" resultType="Reception.vo.PatientVO">
		select * from patient where patient_id = #{id} 
	</select>

<select id="get_admission_record_patient_id" resultType="Reception.vo.AdmissionRecordVO">
		select ar.ward_id, ar.admission_record_id, p.patient_id, p.name as patient_name, s.name as staff_name, s.staff_id,  
		d.department_name, mr.treatment_name, to_char(ar.admission_date, 'yyyy-mm-dd') as admission_date,
		to_char(ar.discharge_date, 'yyyy-mm-dd') as discharge_date 
		from medical_record mr, admission_record ar, ward w, patient p, staff s, department d 
		where mr.medical_record_id = ar.medical_record_id
		and s.staff_id = mr.staff_id 
		and p.patient_id = mr.patient_id
		and w.ward_id = ar.ward_id 
		and s.department_id = d.department_id 
		and p.patient_id = #{id} 
		order by ar.admission_date 
	</select>
	<select id="get_medical_record" resultType="Reception.vo.MedicalRecordVO">
		select mr.medical_record_id, p.name as patient_name, s.name as staff_name, mr.memo, p.gender ,p.social_id ,p.phone_number,
		to_char(mr.treatment_date, 'yyyy-mm-dd hh24:mi') as treatment_date, mr.admission, 
		mr.treatment_name, pr.prescription_record_id
		from patient p left outer join medical_record mr on  p.patient_id = mr.patient_id 
		left outer join staff s on s.staff_id = mr.staff_id 
		left outer join  prescription_record pr on pr.medical_record_id = mr.medical_record_id
		where p.patient_id = #{id}
		order by mr.treatment_date 
	</select>

<!-- 신규환자 -->
<insert id='patient_insert'>
  insert into patient (name, gender, phone_number, social_id)
	values (#{name}, #{gender}, #{phone_number},#{social_id})
</insert> 

<!--예약내역  -->
<select id ='medical_receipt_time' resultType="Reception.vo.MedicalReceiptVO">
select to_char(m.time, 'day')reserve_today,to_char(m.time,'mm/dd')reserve_date_short, 
to_char(m.time,'hh24:mm')reserve_time, to_char(m.time,'yyyy-mm-dd')time, to_char(m.time, 'yymmddhh24mm') reserve_time_count,
to_char(current_date, 'yymmddhh24mm') current_time,
m.memo, p.name patient_name, s.name doctor_name,
d.department_name department_name, d.location location
from medical_receipt m inner join patient p
on m.patient_id= p.patient_id
inner join staff s
on m.staff_id = s.staff_id
inner join department d
on s.department_id =d.department_id
where  to_char(m.time,'yyyy-mm-dd')='2023-02-03'
order by time 
</select>

<!--수납정보가져오기 -->
 <select id='get_acceptance' resultType="Reception.vo.AcceptanceVO">
select p.*, a.*, s.name doctor, p.name patient,
to_char(m.treatment_date, 'yyyy-mm-dd')acceptance_date
from patient p left outer join medical_record m 
on p.patient_id= m.patient_id
left outer join acceptance a 
on m.medical_record_id = a.medical_record_id
left outer join staff s
on s.staff_id=m.staff_id
where p.patient_id =#{id}
order by acceptance_date desc

</select> 


<!-- select a.medical_expenses, a.admission_fee, a.inspection_fee, a.operation_fee, a.acceptance_record_id,
to_char(m.treatment_date, 'yyyy-mm-dd')acceptance_date, p.gender, p.phone_number, p.social_id,
p.name patient, m.treatment_date, s.name doctor, a.pay_amount,
to_char(current_date, 'yyyy-mm-dd hh24:mi') current_record
from acceptance a left join medical_record m
on a.medical_record_id =m.medical_record_id
left join patient p 
on p.patient_id = m.patient_id
left join staff s
on s.staff_id =m.staff_id
where p.patient_id =#{id}
order by acceptance_date desc -->
<!-- 수납내역 업데이트 -->
<update id='acceptance_update'>
update acceptance 
set pay_amount =#{pay_amount}
where acceptance_record_id =#{id}
</update>

<!--예약정보가져오기 -->
<select id ='get_medical_receipt' resultType="Reception.vo.MedicalReceiptVO">
select to_char(m.time, 'yyyy-mm-dd day')reserve_today,
to_char(m.time,'hh24:mi')reserve_time, 
to_char(current_date,' yyyy-mm-dd day hh24:mi') now, 
m.memo, p.name patient_name, s.name doctor_name,
d.department_name department_name, d.location location,
case when m.time-(current_date)>=0 then '대기중' else '접수완료' end status
from medical_receipt m inner join patient p
on m.patient_id= p.patient_id
inner join staff s
on m.staff_id = s.staff_id
inner join department d
on s.department_id =d.department_id
where 
 to_char(m.time,'yyyy-mm-dd') = to_char(current_date,'yyyy-mm-dd') 

 <if test="doctor_id != null">
	 and s.staff_id= #{doctor_id}
 </if>
order by to_char(m.time,'hh24:mi')
<!--  
select to_char(m.time, 'yyyy-mm-dd day')reserve_today,
to_char(m.time,'hh24:mm')reserve_time, to_char(m.time,'yyyy-mm-dd')time, 
to_char(m.time,'hh24mm')reserve_time_count,to_char(current_date, 'hh24mi') now_count,
m.memo, p.name patient_name, s.name doctor_name,
d.department_name department_name, d.location location
from medical_receipt m inner join patient p
on m.patient_id= p.patient_id
inner join staff s
on m.staff_id = s.staff_id
inner join department d
on s.department_id =d.department_id
where 
 to_char(m.time,'yyyy-mm-dd') = to_char(current_date,'yyyy-mm-dd') 
 AND to_char(m.time,'hh24:mi') &lt; '18:00'
order by to_char(m.time,'hh24:mi')
-->
</select>

<!--진료과목 정보 가져오기-->
<select id='get_department' resultType="Reception.vo.DepartmentVO" >
select department_name from department
where department_id between 1 and 9
</select>
<!--의사 이름 가져오기-->
<select id='get_doctor' resultType="Reception.vo.DepartmentVO" >
select s.name 
from department d inner join staff s 
on d.department_id = s.department_id
where d.department_id =#{department_id}
</select>

<select id='get_staff' resultType="Reception.vo.StaffVO">
    select s.*, d.department_name
    from staff s left outer join department d 
    on  s.department_id =d.department_id
    where staff_level=1
</select>
<!---->
<insert id='receipt_insert'>
  insert into medical_receipt(patient_id, staff_id, time, memo)
	values( #{patient_id}, #{staff_id}, current_date, #{memo})
</insert> 

</mapper>

