<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>
	<definition name="receptionlayout" template="/WEB-INF/views/reception/tiles/layout.jsp">
		<put-attribute name="sidebar" value="/WEB-INF/views/reception/include/sidebar.jsp"/>
		<put-attribute name="topbar" value="/WEB-INF/views/reception/include/topbar.jsp"/>
		<put-attribute name="footer" value="/WEB-INF/views/reception/include/footer.jsp"/>
	</definition>
	
	<definition name="reception/*" extends="receptionlayout">
		<put-attribute name="container" value="/WEB-INF/views/reception/{1}.jsp"/>
	</definition>
	
	<definition name="reception/*/*" extends="receptionlayout">
		<put-attribute name="container" value="/WEB-INF/views/reception/{1}/{2}.jsp"/>
	</definition>
	
	<definition name="default/reception/*" template="/WEB-INF/views/reception/tiles/default.jsp">
		<put-attribute name="container" value="/WEB-INF/views/reception/{1}.jsp"/>
	</definition>
</tiles-definitions>